version: "3.8"

services:
  frontend:
    image: bookstore/frontend:latest
    container_name: bookstore-frontend
    restart: unless-stopped
    ports:
      - "3002:3002"
    networks:
      - bookstore_net

networks:
  bookstore_net:
    name: bookstore_net
    external: false

